/* Load the Britney Variable font */
@font-face {
  font-family: "Britney";
  src: url("../Fonts/Britney.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Apply the font to body and .title */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: "Britney Variable", Arial, sans-serif;
}

.login-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  width: 500px;
  text-align: center;
}

.login-page input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  width: 150%;
  max-width: 475px;
  display: block;
  text-align: left;
  margin-right: 400px;
}

.login-page label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-bottom: 8px;
  width: 75%;
  text-align: left;
  margin-right: 400px;
}

.login-page button[type="submit"] {
  background-color: #ffa6a6;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}

.login-page button[type="submit"]:hover {
  background-color: #ff7f7f;
}

.signup-section {
  text-align: center;
  margin-top: 50px;
}

.signup-section p {
  font-size: 15px;
  margin-bottom: 1px;
}

.signup-button {
  background-color: #ffa6a6;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.signup-button:hover {
  background-color: #ff7f7f;
}

.signup-button:focus {
  outline: none;
}

.title {
  font-family: "Britney Variable", Arial, sans-serif !important;
  font-size: 40px;
  color: #333;
  text-align: center;
  margin-bottom: 50px;
}

.back-to-home {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
}

.back-to-home button {
  background-color: #ffa6a6;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 24px;
}

.back-to-home button:hover {
  background-color: #ff7f7f;
}
