@font-face {
  font-family: "Britney";
  src: url("../Fonts/Britney.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .signup-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    width: 500px;
    text-align: center;
  }
  
  .signup-page label {
    font-size: 16px;
    margin-bottom: -10px;
    width: 100%;
    text-align: left;
  }
  
  .signup-page .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .signup-page select {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffd6d6;
    font-weight: 500;
    appearance: none;
    text-align: center;
    color: #363636;
  }
  
  .signup-page input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 475px;
  }
  
  .signup-page button[type="submit"] {
    background-color: #ffa6a6;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    width: 100%;
  }
  
  .signup-page button[type="submit"]:hover {
    background-color: #ff7f7f;
  }
  
  .login-section {
    text-align: center;
    margin-top: 50px;
  }
  
  .login-section p {
    font-size: 15px;
    margin-bottom: 1px;
  }
  
  .signup-button {
    background-color: #ffa6a6;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
  }
  
  .signup-button:hover {
    background-color: #ff7f7f;
  }
  
  .signup-button:focus {
    outline: none;
  }
  
  .title {
    font-size: 40px;
    color: #333;
    text-align: center;
    margin-bottom: 50px;
    font-family: "Britney Variable", Arial, sans-serif !important;
  }